body {
    background-color: ghostwhite;
}

.siteTitle {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 30px;
    border-bottom: solid 1px rgb(66, 186, 150);
}

.userName {
    margin-top: 15px;
}

.userInfo {
    background-color: white;
    border-top: solid 1px rgba(170, 170, 170, 0.2);
    border-right: solid 10px blue;
    border-bottom: solid 2px blue;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    margin-left: -10px;
    margin-right: -20px;
    padding-top: 5px;
    float: right;
}

.recordTable {
    border: solid 2px gray;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    overflow: hidden;
}

.recordTable th, .recordTable td  {
    border: solid 1px white;
    } 